/* landing page styling start */
.landing-page-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: relative;
}
.landing-page-header .gradient-blur-image {
    width: 550px;
    height: auto;
    filter: blur(100px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -350px;
}
.landing-page-header .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 100px;
}
.landing-page-header .orange-blur-ball {
    position: absolute;
    top: 100px;
    left: 29%;
    width: 30px;
    height: 30px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .violet-ball {
    position: absolute;
    top: 161px;
    left: 13%;
    height: 40px;
    width: 40px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .violet-ball-right {
    position: absolute;
    top: 120px;
    right: 30%;
    height: 30px;
    width: 30px;
    animation: bounce 3s linear 0s infinite;
}

.landing-page-header .orange-ball-right {
    position: absolute;
    top: 230px;
    right: 21%;
    height: 40px;
    width: 40px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .star-twinkle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 220px;
    left: 33%;
    animation: spin 10s linear 0s infinite;
}
.landing-page-header .star-twinkle-right {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 145px;
    right: 40%;
    animation: spin 10s linear 0s infinite;
}
.landing-page-header .orange-ball-left-lower {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 291px;
    left: 25%;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .sign-up-sign-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.landing-page-main .divider {
    display: block;
    margin: 7rem auto 0;
}
/* landing page ends */
