/* landing page styling start */
.landing-page-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: relative;
}
.landing-page-header .gradient-blur-image {
    width: 550px;
    height: auto;
    filter: blur(100px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -350px;
}
.landing-page-header .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 100px;
    z-index: 2;
    position: relative;
}
.landing-page-header .orange-blur-ball {
    position: absolute;
    top: 100px;
    left: 20%;
    width: 30px;
    height: 30px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .violet-ball-lower-right {
    position: absolute;
    top: 120px;
    right: 20%;
    height: 30px;
    width: 30px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .violet-ball {
    position: absolute;
    top: 161px;
    left: 5%;
    height: 40px;
    width: 40px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .violet-ball-right {
    position: absolute;
    top: 350px;
    right: 25%;
    height: 25px;
    width: 25px;
    animation: bounce 3s linear 0s infinite;
}

.landing-page-header .orange-ball-right {
    position: absolute;
    top: 230px;
    right: 5%;
    height: 40px;
    width: 40px;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .star-twinkle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 220px;
    left: 30%;
    animation: spin 10s linear 0s infinite;
}
.landing-page-header .star-twinkle-right {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 145px;
    right: 35%;
    animation: spin 10s linear 0s infinite;
}
.landing-page-header .orange-ball-left-lower {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 350px;
    left: 15%;
    animation: bounce 3s linear 0s infinite;
}
.landing-page-header .sign-up-sign-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.landing-page-main .divider {
    display: block;
    margin: 7rem auto 0;
}

/* Nft card styling */
.nft-gallery-conatainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}
.flip-card.nft-card {
    width: 500px;
    height: 500px;
    perspective: 1000px;
    position: relative;
    color: #fff;
    padding: 0.5rem;
    background-color: #4b4257;
    border-radius: var(--font-10);
    cursor: pointer;
}
.nft-card .card-overlay {
    background-color: #00000080;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--font-10);
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
}
.flip-card.nft-card:hover .card-overlay {
    opacity: 1;
}
.flip-card.nft-card:is(:hover, :focus) .nft-head-details {
    opacity: 1;
    transform: translateX(-50%);
}
.flip-card.nft-card:is(:hover, :focus) .nft-author {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.flip-card.nft-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.nft-card .nft-head-details {
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;

    color: #fff;
}
.nft-card .nft-author {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -30%);
    opacity: 0;
    transition: 0.3s;
    color: #fff;
    z-index: 1;
}

.nft-card .flip-card-front,
.nft-card .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.nft-card .flip-card-inner .nft-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--font-10);
    position: relative;
}

.nft-card .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: var(--font-10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nft-card.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

/* landing page ends */

/* Mobile view */
@media only screen and (max-width: 767px) {
    /* LANDING PAGE */
    .landing-page-header .gradient-blur-image {
        width: 100%;
    }
    .landing-page-header .violet-ball-lower-right {
        right: 10%;
        top: 60px;
    }
    .landing-page-header .star-twinkle-right {
        right: 20%;
    }
    .landing-page-header .orange-ball-right {
        right: 1%;
    }
    .landing-page-header .star-twinkle {
        left: 17%;
    }
    .landing-page-header .orange-blur-ball {
        top: 40px;
    }
    .landing-page-header .violet-ball {
        top: 125px;
        display: none;
    }
    .landing-page-header .violet-ball-right {
        display: none;
    }

    .landing-page-header .orange-ball-left-lower {
        left: 5%;
    }
    /* LANDING PAGE ENDS*/

    /* nft card */
    .nft-gallery-conatiner {
        padding: 2rem;
        justify-content: center;
    }
    .nft-gallery-conatiner .nft-card {
        padding: 0.5rem;
    }
    .nft-card .nft-head-details {
        padding: 0.5rem;
        top: 10px;
        font-size: 14px;
    }

    /* nft card ends */
}

/* mobile view ends */
